* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--secondary-background);
  font-size: 1rem;
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
