:root {
  --system-background: #ffffff;
  --secondary-background: #f2f2f7;
  --grouped-background: #f2f2f7;

  --gray-100: #8e8e93;
  --grey-200: #aeaeb2;
  --grey-300: #c7c7cc;
  --grey-400: #d1d1d6;
  --grey-500: #e5e5ea;
  --grey-600: #f2f2f7;

  --system-blue: #007aff;

  --separator: #3c3c43;
}
